.texto-rojo {
    color: red;
    font-size: 20px;
}


.otroxd{
    color:yellow;
    font-size: 30px;
    background-color: black;
    text-align: center;
}

/* Animación de presionar para botones */
.btn-press {
    transition: transform 0.1s ease-out;
}

.btn-press:active {
    transform: scale(0.95); /* Encoge el botón al hacer clic */
}